.Dock {
  padding: 0.25rem 0.75rem 0.75rem 0.75rem;
  display: grid;
  height: 95px;
}

/* make this semi-transparent eventually w/ blur */
.Dock__content {
  border-radius: 2rem;
  background: #7c6e65;
}
