.Dots {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.Dot {
  width: 7px;
  height: 7px;
  margin: 4px;
  border-radius: 50%;
  background: #95918e;
  transition: background 0.2s ease;
}

.Dot--active {
  background: white;
}
