.Gesture__parent {
  height: 700px;
  border-radius: 2.5rem;
  overflow: hidden;
  width: 375px !important;
  background-image: url(https://images.unsplash.com/photo-1557474295-8fbaa04b4fee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
}

.Gesture__apps {
  flex: 1;
}
